<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pb-4">
            <h1 class="display-10">Calcular Investimento</h1>

            <form [formGroup]="formInvestimento">
                <div class="form-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <h5>Investimento</h5>
                    </div>
                    <div class="form-group col-md-3 ml-3">
                        <label for="valorParcela">Parcela do investimento:</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text input-read-only">R$:</div>
                            <input type="text" class="form-control" id="valorParcela" placeholder="400,00"
                                formControlName="valorParcela" currencyMask [options]="optionsMaskMoney">
                        </div>
                    </div>

                    <div class="form-group col-md-3 ml-3">
                        <label for="rendimentoMensal">Juros ao mês:</label>
                        <div class="input-group-prepend">
                            <input type="text" class="form-control" id="rendimentoMensal" placeholder="0,5"
                                formControlName="rendimentoMensal" currencyMask [options]="optionsMaskMoney">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 ml-3">
                        <label for="qntMeses">Quantidade de parcelas:</label>
                        <div class="input-group-prepend">
                            <input type="text" class="form-control input-read-only" id="qntMeses"
                                formControlName="qntMeses">
                        </div>
                    </div>

                    <!--
                    <div class="form-group col-md-1 ml-3">
                        <label for="adiantamento">Adiantamento:</label>
                        <div class="pl-3">
                            <ui-switch labelOn="Sim" labelOff="Não" id="adiantamento" formControlName="adiantamento">
                            </ui-switch>
                        </div>
                    </div>
                    -->
                </div>


                <!-- 
                <div class="form-row" *ngIf="this.formInvestimento.get('adiantamento').value">

                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <h5>Adiantamento</h5>
                    </div>

                    <div class="col-md-3 ml-3">
                        <label for="adiantamento-meses">Frequência de meses</label>
                        <select class="custom-select form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>

                    </div>

                    <div class="col-md-3 ml-3">
                        <label for="adiantamento-parcelas">Quantidade de parcelas</label>
                        <select class="custom-select form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
            -->

                <div class="form-row">
                    <div class="col-md-12 mt-4">
                        <button type="submit" class="btn btn-secondary" (click)="onRelatorio()">
                            Gerar relatório
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="row" *ngIf="isRelatorio">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pb-4">
            <h1 class="display-10">Relatório</h1>
            <hr>
            <div class="form-group col-md-12 ml-3">
                <span for="valorOriginal">Valor de cada parcela: </span>
                R$: {{investimento?.valorParcela}}
            </div>

            <hr>
            <div class="form-group col-md-12 ml-3">
                <span for="valorOriginal">Quantidade de meses: </span>
                {{investimento?.qntMeses}}
            </div>

            <hr>
            <div class="form-group col-md-12 ml-3">
                <span for="valorOriginal">Rendimento mensal: </span>
                {{investimento?.rendimentoMensal}} %
            </div>

            <hr>
            <div class="form-group col-md-12 ml-3">
                <span for="valorOriginal">Total do financiamento: </span>
                R$: {{investimento?.totalFinal}}
            </div>

            <!--
            <div class="form-group col-md-12 ml-3">
                <span for="valorOriginal">Apenas rendimento: </span>
                R$: {{totalFinal}}
            </div>
            -->
            <hr>
        </div>
    </div>
</div>